body{
    border:5px solid #7a7e83;
}

/* Header CSS */
.logo_icon{
    background-color: #2b2e33;
}
.logo_icon img{
    width: 50%; 
    align-items: center;
}
.txt_address{
    background-color: #fff;
}
.thrid_div{
    background-color: #f8f8f8;
}
/* Section CSS */
.section_main_img{
    background-image: url('bg_img.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
   
}
.section_main_img_txt{
    color: white;
    width: 80%;
    background-color:  #1979ada5;
    padding: 5%;
    text-align: left;
    position:fixed
    
    
}
.section_main_img_txt h4{
    margin-left: 10%;
}
.section_main_img_txt hr{
    width: 15%;
    height: 2%;
    background-color: white;
    margin-left: 10%;
}
.section_main_img_txt h2{
    font-weight: 1000;
    opacity: 50%;
    font-size: 800%;
    position: absolute;
    margin-left: 10%;
}
.section_main_img_txt h3{
    font-weight: bold;
    font-size: 500%;
    text-align: left;
    position: absolute;
    top: 35%;
    margin-left: 10%;
}
.section_main_img_txt h3 strong{
    color: #e61f84;
}
.section_main_img_div{
    background-color: #e61f84;
    opacity: 50%;
    margin-bottom: 25%;
}
/* About our company Part CSS */
.about_our{
    padding: 2%;
    background-color: #f8f8f8;
}
.about_our_heading{
    border-left: 8px solid #e61f84;
}
/* About us company CSS */
.about_us{
    padding: 3%;
    margin-left: 5%;
}
.fast_replay img,.file_mangment img,.documentation img{
    width: 10%;
}
.fast_replay,.file_mangment{
    border-right: 1px solid #d9dbdf;
    height: 100%;
}
.fast_replay h6,.file_mangment h6,.documentation h6{
    color: #e61f84;
}
/* Footer CSS */
.footer{
    background-color: #2b2e33;
    color: white;
    text-transform: uppercase;
    padding: 3%;
}
.footer_icon2 hr,.footer_hr hr{
    background-color: white;
    width: 10%;
    padding: 0.5%;
    margin-left: -0.5%;
    margin-bottom: -1%;
}
.footer_icon2{
    margin-top: -1%;
}

    
    
